/* SAVE HIGH SCORE FORM */
h2#scoreMessage {
  color: #08355c;
  margin-bottom: 0.5rem;
}

h2#finalScore {
  color: #08355c;
}

.shareContainer {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 213, 0.5);
  width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  background: white;
}

.shareContainer div {
  /* background-color: red; */
  justify-content: center;
  display: flex;
}

.shareContainer p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.share-btn {
  margin: 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.share-btn img {
  width: 50px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* MEDIA QURIES */
@media (min-width: 880px) {
  .shareContainer {
    width: 30%;
  }
}

@media (max-width: 450px) {
  h2#scoreMessage {
    font-size: 3rem;
  }

  h1#congrats {
    font-size: 3.5rem;
  }

  .share-btn {
    margin: 5px;
  }

  .share-btn img {
    width: 40px;
  }
}
