div.container {
  flex-direction: column;
}

form#difficultyForm {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 213, 0.5);
  max-width: 50rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

form#difficultyForm:hover {
  box-shadow: 0 1.4rem 3.4rem 0 rgba(86, 185, 213, 0.5);
  transition: all 0.5s;
  max-width: 51rem;
}

form#difficultyForm h3 {
  color: #56a5eb;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

form#difficultyForm div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

form#difficultyForm input {
  width: 5rem;
  box-shadow: none;
  margin-bottom: 0;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  transition: all 1s;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 213, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
  transition: all 0.5s;
}

.incorrect {
  background-color: #dc3545;
  transition: all 0.5s;
}

/* HUD */
#hud {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  margin-bottom: 5rem;
}

.hud-prefix {
  text-align: center;
  font-size: 1.8rem;
}

.hud-main-text {
  text-align: center;
  margin-bottom: 0;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 2rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}

div.flex-row {
  width: 19rem;
  justify-content: space-between;
  font-weight: 600;
}

p#passed {
  color: #28a745;
}

p#failed {
  color: #dc3545;
}

/* LOADER */
div.loader {
  border: 1rem solid white;
  border-radius: 50%;
  border-top: 1rem solid #56a5eb;
  height: 7rem;
  width: 7rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  #question {
    font-size: 2rem;
  }
  #hud {
    margin-top: 3rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.5rem;
    margin-bottom: 2rem;
  }
  #progressText {
    text-align: left;
  }
  .hud-prefix {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .full-width {
    grid-column: 1/-1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .justify-content-left-sm {
    justify-self: left;
  }
  .justify-content-left-sm #hud-prefix {
    text-align: left;
  }

  form#difficultyForm {
    max-width: 45rem;
  }

  form#difficultyForm:hover {
    max-width: 47rem;
  }
}
